body, 
.home,
.about,
.location,
.price {
  background-color: #000;
  color: white;
  width: 100vw;
  padding:0;
  margin:0;
}

.top-nav {
  align-items: center;
  display: flex;
  background-image: linear-gradient(to right, rgb(105, 0, 167), rgb(230, 233, 81));
  text-align: center;
  justify-content: space-around;
  height: 100px;
  width: 100vw;
}

.flex {
  display: flex;
  width: 60vw;
}

.nav-list {
  justify-content: space-between;
  max-width: 100vw;
}

.nav-list a,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
}

.nav-item {
  border-radius: 50%;
  color: white;
  display: flex;
  flex-grow: 1;
  font-family: 'Charmonman', 'Srisakdi', 'Arial', cursive;
  font-size: 2em;
  height: 70px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
  transition: all 0.5s ease;
}

.nav-item:hover {
  background-color: rgba(10, 0, 56, 0.644);
}

.business-logo-container {
  background-color: rgba(255, 255, 255, 0.651);
  border-radius: 40%;
  align-items: center;
  color: red;
  display: flex;  
  font-size: 1.2em;
  font-family: 'Charmonman', 'Srisakdi', 'Arial', cursive;
  height: 70px;
  justify-content: center;
  margin: 0;
  min-width: 15vw;
  overflow: hidden;
  padding: 0.25em;
  text-shadow: 2px 2px 2px rgb(253, 255, 152);
  transition: all 0.5s ease;
}

.business-logo-container:hover {
  background-color: rgba(10, 0, 56, 0.664);
  color: white;
  text-shadow: 2px 2px 2px rgb(45, 1, 63);
}

#business-img {
  transform: rotate(45deg);
  height: 40px;
  background-color: rgba(255, 255, 255, 0.486);
  padding: 0.5em;
  border-radius: 50%;
}

.business-title {
  text-align: center;
  justify-self: center;
  margin: 0;  
}

main {
  width:100%
}

#photos {
  width:100%;

  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

#photos p {
  background-color: black;
  color: white;
  font-family: 'Srisakdi', Arial, cursive;
  font-size: 2em;
  text-align: center;
}

.about {
  text-align: center;
}

heading {
  text-align: center;
}

.inline-link {
  color: pink;
}

#map {
  height: 74vh; /*NOTE: the map requires an absolute size value; using % values will cause it to not render */
  width: 100vw;
  z-index: 0;
}

.info-window {
  color: black;
}

.locations-details {
  text-align: center;
}

.price-container {
  height: 82vh;
}

.price-container h5 {
  margin: 0;
}

.price-container ul {
  margin: 0
}

