/* @media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}  */
@media (min-width: 700px) {
  /* #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  } */
  .price-container {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    column-gap: 1em;
    column-width: 25%;
    height: auto;
    margin-left: 25%;
    margin-right: auto;
    font-size: 1em;
  }
}
@media (min-width: 425px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }

  .price-container {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    height: auto;
    font-size: 0.7em;
  }

}
@media (max-width: 424px) {
  .top-nav {
    width: 100vh;
    justify-content: flex-start;
  }

  .nav-item {
    font-size: 1.2em
  }

  .business-title {
    display:none;
  }

  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }

  .price-container {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    height: auto;
  }
}